<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v6.2.0/css/all.css">
  <title>Document</title>
</head>
<body>
    <nav class="contenedor-links">
        <li *ngIf="!seMuestranTodosLosContenidos"class="vinculo" (click)="mostrarTodos()"> Ver todos los contenidos</li>
        <li *ngIf="seMuestranTodosLosContenidos" class="vinculo"(click)="mostrarMasComentados()">Ver los contenidos mas comentados</li>
    </nav>
    <section *ngIf="!seMuestranTodosLosContenidos" class="contenedor-titulo-pagina">
        <h1 class="titulo-mas-comentados">Mas comentados</h1>
        <h4>Se muesta la cantidad de comentarios por extension y tipo de contenido</h4>
    </section>
    
    <div class="contenedor-iconos">
        <div *ngIf="seMuestranTodosLosContenidos"  class="contenedor-contenido">
            <i class="fa-solid fa-music icono-contenido musica" (click)="musica()"></i>
            <section class="fondo-musica"></section>
        </div>

        <div *ngIf="seMuestranTodosLosContenidos" class="contenedor-contenido">
            <i class="fa-regular fa-circle-play icono-contenido video" (click)="video()"></i>
        </div>

        <div *ngIf="seMuestranTodosLosContenidos"class="contenedor-contenido">
            <i class="fa-regular fa-file icono-contenido documento" (click)="documento()"></i>
        </div>

    </div>
    <div class="contenedor-tabla" *ngIf="seMuestranTodosLosContenidos">
        <thead> 
            <tr> 
                <th>Titulo</th> 
                <th *ngIf="seMuestranTodosLosContenidos">Extension</th> 
                <th>Cant comentarios</th>
            </tr> 
            <table class="tabla"> 
                <tbody> 
                    <tr *ngFor="let contenido of contenidos"> 
                        <td class="titulo vinculo" (click)="irAComentar(contenido.id)">{{contenido.titulo}}</td><td>{{contenido.extension}}</td><td class="cant-comentarios">{{contenido.cantComentarios}}</td>
                    </tr>
                    
                </tbody>
                <p *ngIf="noHayContenido()" class="sin-contenido">No se encontró contenido para mostrar.</p>
            </table>
        </thead> 
    </div>
    <div class="contenedor-tabla" *ngIf="!seMuestranTodosLosContenidos">
        <thead> 
            <tr> 
                <th>Tipo contenido</th> 
                <th>Extensión</th>
                <th>Cant comentarios</th>
            </tr> 
            <table class="tabla"> 
                <tbody> 
                    <tr *ngFor="let a of masComentados"> 
                        <td>{{a.tipo_contenido}}</td><td>{{a.extension}}</td><td class="cant-comentarios">{{a.cantComentarios}}</td>
                    </tr>
                    
                </tbody>
                <p *ngIf="noHayContenido()" class="sin-contenido">No se encontró contenido para mostrar.</p>
            </table>
        </thead> 
    </div>
    
    
    
</body>
</html>
<router-outlet></router-outlet>