body {
    position: relative;
    display: flex;
}
.pop-up {
    width: 20em;
    height: 15em;
    background-image: url('https://wallpaperaccess.com/full/5130.jpg');
    background-color: rgba(0,0,0,0.7);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.img-check{
    font-size: 3em;
    color: white;
    padding: 0.5em;
}
