body {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}
.pop-up {
    width: 30em;
    height: 15em;
    background-image: url('https://wallpaperaccess.com/full/5130.jpg');
    background-color: rgba(0, 0, 0, 0.747);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.texto-ventana-emergente{
    margin-left: 1em;
}
.img-check{
    font-size: 3em;
    color: white;
    padding: 0.5em;
}
.boton {
    margin-left: 1em;
    padding: 0.5em 1em;
    cursor: pointer;
    
 }

 .boton-secundario {
    background-color:rgb(92, 116, 119);
    border-color: rgb(255, 255, 255);
 }

 .boton-primario {
    background-color: rgb(54, 24, 66);
    border-color: aqua;
    color: white;
 }
.contenedor-botones{
    width: 80%;
    display: flex;
    justify-content: space-around;
    margin-top: 1em;
}